.clients-title {
  margin-bottom: 30px;
  padding-bottom: 0px;
  margin-top: 0;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-cl);

  @media (min-width:480px) {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
  }
  @media (min-width:768px) {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 0;
  }

  @media (min-width:1200px) {

    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.clients-icons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  gap: 30px;

  @media (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1200px) {
    margin: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
}

.clients-icons__clients-link {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  color: var(--icon-cl);
  border: solid 1px var(--icon-cl);
  fill: var(--icon-cl);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 0;

  @media (min-width: 480px) {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border-radius: 4px;
    color: var(--icon-cl);
    border: solid 1px var(--icon-cl);
    fill: var(--icon-cl);

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 92px;
    border-radius: 4px;
    color: var(--icon-cl);
    border: solid 1px var(--icon-cl);
    fill: var(--icon-cl);

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    color: var(--icon-cl);
    border: solid 1px var(--icon-cl);
    fill: var(--icon-cl);

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-icons__clients-item {
  width: 100%/2;
  margin: 0;
  padding: 0;

  @media (min-width: 480px) {
    width: 100%/2;

    margin: 0;
    padding: 0;
  }

  @media (min-width: 768px) {
    width: 100%/3;
    margin: 0;
    padding: 0;
  }
}

.clients-icons__clients-svg {
  background-repeat: no-repeat;
  background-position: center;
}

.clients-icons__clients-link:hover,
.clients-icons__clients-link:focus {
  fill: var(--focus-cl);
  border-color: var(--focus-cl);
}
