.footer-form {
    margin-top: 0px;
    margin-left: 93px;
  }
  
  .footer-form__footer-label {
    margin-top: 20px;
  }
  
  .footer-form__footer-input {
    padding: 15px 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    color: rgb(243, 243, 243);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    background-color: inherit;
  }
  
  .footer-form__form-position {
    display: flex;
    flex-direction: row;
  }
  
  .footer-form__btn-wrapper {
    position: relative;
  }
  
  .footer-form__btn-footer {
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 0;
    border: var(--focus-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    cursor: pointer;
  
    padding-left: 29px;
    padding-right: 62px;
    text-align: start;
      font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--focus-cl);
  }
  
  .footer-form__icon-send {
    position: absolute;
    top: 13px;
    right: 28px;
  }
  
  .footer-form__footer-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
  
    color: var(--logo-footer-cl);
  }