
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .modal-form__form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  
  .modal-form__form-field:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .modal-form__form-label {
    margin-bottom: 4px;
  
    color: var(--title-cl);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  
  .modal-form__form-input {
    height: 40px;
    width: 100%;
    padding: 14px 15px 14px 42px;
  
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  
    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form__form-svg {
    position: absolute;
    top: 50%;
    left: 12px;
    display: flex;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form__form-input:focus,
  .form-comment:focus {
    outline-color: var(--focus-cl);
  }
  
  .modal-form__form-input:focus + .modal-form__form-svg {
    fill: var(--focus-cl);
  }
  
  .form-comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  
    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* checkbox */
  
  .modal-form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .modal-form__checkbox-position {
    position: relative;
    margin-right: 8px;
  }
  
  .modal-form__checkbox-custom {
    display: block;
    width: 16px;
    height: 15px;
    appearance: none;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 1px;
  }
  
  .modal-form__checkbox-custom:focus {
    border: 2px solid var(--focus-cl);
    outline: 2px solid transparent;
  }
  
  .modal-form__agreement-conditions-text {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .modal-form__agreement-conditions-link a {
    color: var(--focus-cl);
    text-decoration: underline;
  }
  
  .modal-form__checkbox-custom:checked {
    fill: currentColor;
    background-color: var(--focus-cl);
    border: none;
  }
  
  .modal-form__checkbox-custom:checked + .modal-form__checkbox-custom-icon {
    fill: rgba(255, 255, 255, 1);
  }
  
  .modal-form__checkbox-custom-icon {
    fill: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 8px;
  }
  
  .modal-form__btn-submit {
    width: 200px;
    height: 50px;
    display: block;
    padding: 10px 55px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--focus-cl);
    border: var(--focus-cl);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }