.team-title {
  margin: 0px;
  padding-bottom: 50px;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-cl);
}
.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
  font-family: var(--title-font);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-cl);
}

.team {
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.team__post {
  margin: 0px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-cl);
}

.team__team-item {
  width: 100%;

  display: block;
  flex-direction: column;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 5px;

  @media (min-width: 480px) {
    width: 100%;

    display: block;
    flex-direction: column;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    width: 354px;

    display: block;
    flex-direction: column;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 5px;
  }
  @media (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
  }
}

.team__team-item:nth-child(-n + 2) {
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.team__team-item:not(:last-child) {
  @media (min-width: 480px) {
    margin-bottom: 30px;
  }
 

  @media (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.team__team-item:nth-child(2n + 1) {
  @media (min-width: 768px) {
    margin-right: 30px;
  }
}

.team__team-item:not(:last-child) {
  margin-bottom: 30px;
  @media (min-width: 480px) {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    
  }

  @media (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

// social-icons

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 24px;
  

  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-cl);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--focus-cl);
  fill: var(--button-cl);
}

.social-icons__social-item:not(:last-child) {
  @media (min-width: 1200px) {
    margin-right: 10px;
  }
}
.social-icons__social-item {
  @media (min-width: 480px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}
