.project-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--logo-footer-cl);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2n) {
  padding-top: 94;
  padding-bottom: 0px;
}

.section:nth-child(3n){

  @media screen and (max-width:480px) {
    display: none;
    
  }

}

.section:nth-child(4n) {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-cl);
}

.link {
  text-decoration: none;
  font-style: normal;
  display: block;
  position: relative;
}
