:root {
    --focus-cl: #2196f3;
    --main-title-cl: #212121;
    --title-cl: #757575;
    --logo-cl: black;
    --logo-footer-cl: #ffffff;
    --bg-footer-cl: #2f303a;
    --button-cl: #f5f4fa;
    --icon-cl: #afb1b8;
    --border-cl: #eeeeee;
  
    --title-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
  }